/* APPLICATION LEVEL */
:root {
  /* root vars to set for whole project */
  --color-primary: #0672f7;
  --color-secondary: #06eff7;
  --color-accent: #f75906;
  --color-header: #403066;
  --color-body: #918ca4;
}

/* for box-sizing getting out of screen (anchors) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */

html {
  /* 10px */
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  /* 24px body */
  font-size: 2.4rem;
  line-height: 1.5;
}

/* FONTS */

h1,
h2,
h3 {
  color: var(--color-header);
  /* margin is 20px, but font adds some margin so 1rem is better here */
  margin-bottom: 1rem;
}

h1 {
  /* h1 70px */
  font-size: 7rem;
}
h2 {
  /* 40px */
  font-size: 4rem;
}
h3 {
  /* 30px */
  font-size: 3rem;
}
p {
  /* margin collapse fix */
  margin-top: 0;
}

/* for latops */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* LINKS */

a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.5s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* BADGES */

/* structure class */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  white-space: nowrap;
}

/* skinclass */
.badge--primary {
  background: var(--color-primary);
  color: white;
}
.badge--secondary {
  background: var(--color-secondary);
  color: white;
}
.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* LISTS */

/* start with most general css */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-header);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 1rem;
}
.list--tick {
  /* font-size: 3rem; */
  text-transform: capitalize;
  list-style-image: url(/images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0.1rem;
  }
}

/* ICONS */

.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  /* we need inline too, for same line icons and text */
  /* structure with skin here prolly cuz its one time use */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color: #f3f9fa;
}

/* BUTTONS */

/* button structure */
.button {
  border-radius: 30px;
  border: none;
  /* make btn look clickable */
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem;
  text-transform: uppercase;
  /* incase no space in line */
  white-space: nowrap;
  /* margin: 1rem 0; */
  /* for anchors */
  display: inline-block;
  text-align: center;
  /* and we did box-sizing for all */
}

/* button skins */
.button--primary {
  background-color: var(--color-primary);
  color: white;
}
.button--primary:hover {
  background-color: #2b88fa;
}
.button--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.button--secondary:hover {
  background-color: #39f1f7;
}
.button--accent {
  display: inline-block;
  color: white;
  background-color: var(--color-accent);
}
.button--accent:hover {
  background-color: #f3732e;
}
/* for no-outline skin */
.button--outline {
  color: var(--color-header);
  outline: var(--color-header);
  background-color: transparent;
  border: 2px solid var(--color-header);
}
.button--outline:hover {
  background-color: var(--color-header);
  color: white;
  transition: 0.3s;
}
/* button block attribute */
.button--block {
  width: 100%;
}
/* for desktop */
@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}

/* INPUTS */
