/* APPLICATION LEVEL */
:root {
  /* root vars to set for whole project */
  --color-primary: #0672f7;
  --color-secondary: #06eff7;
  --color-accent: #fe4400;
  --color-header: #403066;
  --color-body: #918ca4;
  --color-body-darker: #595276;
  --border-radius: 30px;
  --border-color: lightgray;
}
/* for box-sizing getting out of screen (anchors) */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* for darker background to keep thing consistant */
::selection {
  background-color: var(--color-primary);
  color: white;
}

/* TYPOGRAPHY */

html {
  /* 10px */
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  /* 24px body */
  font-size: 2.4rem;
  line-height: 1.5;
  min-width: 375px;
}

/* FONTS */

h1,
h2,
h3 {
  color: var(--color-header);
  /* margin is 20px, but font adds some margin so 1rem is better here */
  margin-bottom: 1rem;
  line-height: 1.1;
  text-transform: capitalize;
}

h1 {
  /* h1 70px */
  font-size: 7rem;
}
h2 {
  /* 40px */
  font-size: 4rem;
}
h3 {
  /* 30px */
  font-size: 3rem;
}
p {
  /* margin collapse fix */
  margin-top: 0;
}

/* this was for laptops but i changed it from 1024px ->768px */
@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* LINKS */

a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.5s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* BADGES */

/* structure class */
.badge {
  border-radius: 50px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.3rem 1rem;
  white-space: nowrap;
}

/* skinclass */
.badge--primary {
  background: var(--color-primary);
  color: white;
}
.badge--secondary {
  background: var(--color-secondary);
  color: white;
}
.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* LISTS */

/* start with most general css */
.list {
  list-style: none;
  /* padding-left: 0; */
  /* color: var(--color-header); | we shouldnt have added skin to structure  
  ,now this will break every list*/
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 1rem;
}
.list--tick {
  list-style-image: url(/images/tick.svg);
  /* for the icon to appear */
  padding-left: 3rem;
  text-transform: capitalize;
  /*TODO: we temporarily gonna put the skin here, but later we will fix the skins */
  color: var(--color-header);
}
.list--tick .list__item {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0.1rem;
  }
}

/* ICONS */

.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  --icon--small-width: 20px;
  width: var(--icon--big-width);
  height: 20px;
}
.icon--big {
  width: 50px;
  height: 50px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: white;
}
.icon-container {
  /* we need inline too, for same line icons and text */
  /* structure with skin here prolly cuz its one time use */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*TODO: i want it to be changing dynamiclly based on icon size */
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  /* skin here just for default */
  background-color: whitesmoke;
}

/* icon-container skins: */
.icon-container--accent {
  background-color: var(--color-accent);
}

/* BUTTONS */

/* button structure */
.button {
  border-radius: 30px;
  border: none;
  /* make btn look clickable */
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  /* 4vw for width so whatever the viewport, take %4 of it. */
  padding: 2rem 4vw;
  text-transform: uppercase;
  /* incase no space in line */
  white-space: nowrap;
  /* margin: 1rem 0; */
  /* for anchors */
  display: inline-block;
  text-align: center;
  /* and we did box-sizing for all */
}
.button--icon {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  margin-right: 1rem;
}

/* button skins */
.button--primary {
  background-color: var(--color-primary);
  color: white;
}
.button--primary:hover {
  background-color: #2b88fa;
}
.button--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.button--secondary:hover {
  background-color: #39f1f7;
}
.button--accent {
  display: inline-block;
  color: white;
  background-color: var(--color-accent);
}
.button--accent:hover {
  background-color: #f3732e;
}
/* for no-outline skin */
.button--outline {
  color: var(--color-header);
  outline: var(--color-header);
  background-color: transparent;
  border: 2px solid var(--color-header);
}
.button--outline:hover {
  background-color: var(--color-header);
  color: white;
  transition: 0.3s;
}
/* button block attribute */
.button--block {
  width: 100%;
}
.button--stretch {
  padding: 2rem 12rem;
}
/* for desktop */
@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}

/* INPUTS */

/* standalone input */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
  /* border: 2px solid black; */
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  /* TODO:(DONE). we set width 0 here so flex-grow takes care of it, not default width by chrome. */
  width: 0;
  padding: 1.5rem 2rem;
  /* border: 2px solid red; */
}

.input-group .button {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* CARDS */

.card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #f5f5f5;
  overflow: hidden;
}
.card__header {
  font-size: 1.5rem;
  padding: 2rem;
  text-transform: capitalize;
}
.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}
.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}
.card__body {
  padding: 1rem 3rem 2rem;
}

/* PLANS */

.plan {
  /* remember transition always on parent of :hover */
  transition: transform 0.3s;
  /*  i messed up here, plan is the container of card. so not sure why it didnt work
  max-width: 500px;
  margin: 0 auto; 
  */
}
.plan:hover {
  transform: scale(1.05);
}

/* header */
.header__title {
  display: block;
  color: white;
  font-size: 2rem;
  margin-top: 0.5rem;
}
.header__price {
  font-size: 4rem;
}
.header__payment-cycle {
  font-weight: 300;
  opacity: 80%;
  text-transform: lowercase;
}
.card--primary .badge--primary {
  background-color: #0656f7;
}
.card--secondary .badge--secondary {
  background-color: #06dff7;
}
.card__header .badge {
  margin: 1rem;
}
.header__description {
  display: block;
  word-spacing: 1px;
  /* opacity: 50%; */
}
/* body */
.card__body .list__item {
  /*  using -1rem  */
  margin: 0.5rem -1rem 1.8rem;
  color: var(--color-header);
  font-weight: 500;
  word-spacing: 1px;
}
.card__body .button {
  /*  */
  margin: 1rem 0rem 1.7rem;
  padding: 1.7rem;
  font-size: 1.4rem;
}
.card--popular .card__header::before {
  content: url(/images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}
/* make parent relative for absolute */
.card--popular .card__header {
  position: relative;
}
/* for desktop */
@media screen and (min-width: 1024px) {
  .card--popular {
    transform: perspective(500px) translateZ(50px);
  }
  .header__title {
    font-size: 1.8rem;
  }
  .header__description {
    font-size: 1.3rem;
  }
  .header__price {
    font-size: 3.5rem;
  }
  .card__body .button {
    font-size: 1.2rem;
  }
}

/* Media */

.media {
  display: flex;
  margin-bottom: 3rem;
}
.media__image {
  margin: 1.5rem 0;
}
.media__body {
  margin: 0rem 2rem;
}
.media__body .media__title {
  text-transform: capitalize;
  /* bottom was 0.5rem */
  margin: 0 0 1rem 0;
  /* font-size: 2.5rem; */
}
.media__body .media__text {
  margin-top: 0;
}
/* @media? */

/* Quotes */

.quote__text {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-body-darker);
  font-style: italic;
  margin: 2rem;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote__author .media {
  margin: 2rem;
}
.quote__icon .icon {
  /* margin-top: 0.5rem; alternativly:- */
  /* top: -15px; */
  position: relative;
  bottom: 20px;
}
.quote__author .author-name {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0rem;
}
.quote__author .quote__company {
  opacity: 60%;
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .quote__text {
    font-size: 2rem;
  }
  .quote__name .quote__author {
    font-size: 3rem;
  }
  .quote__name .quote__company {
    font-size: 1.8rem;
  }
}

/* Grids */

.grid {
  display: grid;
}
/* for tabelets */
/* TODO: 900px for tablets looks better on CALLOUT */
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  /* for desktop */
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */

.testimonial {
  padding: 3rem;
  /* grid-gap: 4rem; */
}
.testimonial .grid {
  grid-gap: 4rem;
}
.testimonial__image {
  position: relative;
  margin: 0 3rem;
}
.testimonial__image > img {
  width: 100%;
}
.testimonial__image .icon-container {
  /* dont add skins in structure | background-color: #f3732e; */
  position: absolute;
  top: 5%;
  /* half of the icon width (64px) */
  right: -32px;
}
.testimonial .quote__text {
  font-size: 2.4rem;
}
/* for tablet */
@media screen and (min-width: 768px) {
}

/* CALLOUTS */

.callout {
  background: var(--color-primary);
  padding: 1rem 2rem 6rem;
  border-radius: 10px;
}
.callout__body {
  text-align: center;
}
.callout__title {
  color: #fff;
}
.callout__text {
  color: #fff;
}

.callout .button {
  /*not reusable if we want wider btns later:  padding: 2rem 8rem; */
  justify-self: center;
  align-self: center;
  /* margin-bottom: 4rem; */
}
/* for tablets and larger */
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
    padding: 0 3rem;
  }
  .callout__body {
    padding-left: 6rem;
    text-align: start;
  }
  .callout .button {
    margin: 4rem 0rem 0rem 6rem;
  }
}

/* COLLAPSIBLES */

.collapsible {
  margin: 0;
}
.collapsible__header {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.collapsible__heading {
  margin-top: 0;
  margin-bottom: 2rem;
  /* structure/skin #rule */
  color: white;
}
/* the defaults */
.collapsible .icon-container {
  background: #444;
}
.collapsible__icon {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible--extended .collapsible__icon {
  transform: rotate(0);
  transition: transform 0.3s;
}
.collapsible__content {
  /* display: none;| instead use max-height to be able to transition*/
  max-height: 0;
  overflow: hidden;
  /* opacity: 0% */
  transition: max-height 0.5s;
}
.collapsible--extended .collapsible__content {
  /* display: block; | instead use max-height to be able to transition*/
  /* max-height enables element to grow to 100vh, but doesnt set its heigh to 100vh fixed */
  max-height: 100vh;
  /* opacity: 100% */
  transition: max-height 0.5s;
}

.collapsible__list {
  margin-top: 0;
  padding-left: 0rem;
  opacity: 60%;
  font-weight: 200;
  text-transform: capitalize;
}

/* BLOCKS */

.block {
  /* we set var padding vertical to dynamically change vertical padding for skew */
  --padding-vertical: 6rem;
  /* padding: 3rem 6rem; */
  padding: var(--padding-vertical) 3rem;
  /* text-align: center; */
}
.block__header {
  text-align: center;
  margin: 0 0 4rem;
}
.block__heading {
  margin: 1rem 0 2rem;
}
.container {
  max-width: 1140px;
  /* vertical 0, horizontal auto "middle" */
  margin: 0 auto;
}
/* black block */
.block--black {
  background: #000;
  color: gray;
}
.block--black .block__heading {
  color: white;
}
/* skew */
.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  /* what ever the --padding-vertical is + 4rem on top of it */
  padding-bottom: calc(var(--padding-vertical) + 10rem);
}
.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 10rem);
}

@media screen and (min-width: 900px) {
  .block--skewed-right {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  }
  .block--skewed-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  }
}

/* NAVIGATION BAR */

.nav {
  padding: 0 1rem;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav__toggler {
  /* margin: 1rem 0; */
  align-self: center;
  opacity: 50%;
  box-shadow: 0 0 5px 5px #444;
  border-radius: 5px;
  transition: opacity 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.collapsible--extended .nav__toggler {
  opacity: 100%;
  box-shadow: none;
  transition: all 0.5s;
}
.nav__toggler:hover {
  opacity: 100%;
}
.nav__list {
  /* set to 100% so it will wrap under nav bar, and then set invisible */
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 1rem 1rem;
  border-bottom: 1px solid #666;
  flex-direction: column;
  opacity: 70%;
  transition: opacity 0.5s;
}
.nav__item:hover {
  opacity: 100%;
  /* transition: opacity 0.5s; cant do that, hover needs parent to do transitioning */
}

.nav__item > a {
  color: white;
}
/* @media */
@media screen and (min-width: 768px) {
  /* we want nav to be horizontally displayed. no toggler */
  .nav {
    flex-wrap: nowrap;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    display: flex;
    /* by default direction is row */
    width: auto;
    /* to overwrite max-height= 0 by default, set by collapsible */
    max-height: 100vh;
  }
  .nav__item {
    border-bottom: 0;
    padding: 2rem 3rem;
    font-size: 1.4rem;
  }
}

/* HERO */

.hero__content {
  /* text-align: center; |set at block__header*/
}
.hero__content .hero__heading {
  text-shadow: 1px 1px 10px #666;
}
.hero__content .hero__text {
  color: rgba(255, 255, 255, 0.644);
  margin-bottom: 4rem;
}

.hero__image {
  width: 100%;
  margin: 0rem 0 4rem;
}

@media screen and (min-width: 900px) {
  .hero__content {
    text-align: start;
    align-self: center;
  }
  .hero__text {
    letter-spacing: 1px;
    font-size: 2rem;
  }
  .hero__heading {
    /* font-size: 6.5rem; */
  }
  .hero__button {
    padding: 2rem 4rem;
  }
}

/* TODO:  PROBLEM WITH LAYOUT*/
/* DOMAIN BLOCK */
.block-domain .input-group {
  box-shadow: 0 0 20px 20px #e6ebee;
  max-width: 670px;
  /* justify-items: center;| its actually centered, but not outside its div (margin level) */
  margin: 4rem auto;
}
.block-domain .domain__content {
  margin: 0 auto;
}

.block-domain .block-domain__prices {
  /* max-width: 700px; */
  max-width: auto;
  /* justify-items: center;| its actually centered, but not outside its div (margin level) */
  margin: 4rem auto;
}
.block-domain__prices.list {
  padding: 0;
}
.block-domain .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}
.block-domain .list__item {
  margin: 1rem 1.5rem;
  /* font-weight: 600; */
}
.block-domain .list__item:hover {
  /* TODO: needs javascript to add class on hover "badge" */
}

@media screen and (min-width: 1024px) {
  .block-domain .grid {
    /* min= 100px sets min by default , max=1fr then after 100px set 1fr sees remaining space */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .list.grid {
    margin: 0 auto;
  }
  .block-domain .list__item {
    margin: 0 2rem;
  }
}

/* PLANS BLOCK */

.block-plans .grid {
  gap: 5rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* FEATURES BLOCK */

.block-features .grid {
  gap: 6rem;
  margin-bottom: 10rem;
}
.block-features .block__header {
  margin-bottom: 10rem;
}
.block-features .media {
  display: flex;
  flex-direction: column;
}
.block-features .media__body {
  margin-left: 0;
}
.block-features__image-container {
  align-content: center;
}
.block-features__image {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .feature__image-left {
    display: flex;
    flex-direction: row-reverse;
    /* order: 2; | use this with schudo selector nth-of-type(even)*/
  }
}

/* SHOWCASE BLOCK */

.showcase .media__title {
  color: white;
}
.showcase .icon {
  margin-right: 1rem;
}
.showcase__picture > img {
  width: 100%;
  margin: 2rem 0 8rem;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid--1x2 {
    /* we do this cuz we have w700px img so 1fr 1fr isnt even on both sides */
    grid-template-columns: 50% 50%;
  }
  .showcase__heading {
    margin-bottom: 5rem;
  }
  .showcase {
    align-items: center;
    gap: 4rem;
  }
  /* <picture> */
  .showcase__picture {
    justify-self: end;
  }
  /* img element directly inside <picture> */
  .showcase__picture > img {
    /* so its 700px */
    width: auto;
    max-width: 700px;
  }
}

/* Testimonial block : empty */

/* FOOTER BLOCK */

.block-footer {
  height: 100%;
  background-color: #232323;
}
.block-footer a {
  color: #999;
  transition: color 0.5s;
}
.block-footer a:hover {
  color: white;
}
.block-footer .collapsible {
  margin: 0 0 3rem 0;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #555;
}
.block-footer .icon-container {
  position: relative;
  bottom: 10px;
}
.footer__collapsible {
  padding: 0;
}
.footer__collapsible .list__item {
  margin: 0 0 2rem 0;
}
.footer__footer {
  justify-self: center;
  padding: 0 2rem;
}
.copyright {
  color: white;
  opacity: 60%;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}
/* FOR DESKTOP */
@media screen and (min-width: 1024px) {
  .block-footer .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense;
  }
  .block-footer .icon-container {
    display: none;
  }
  .block-footer .collapsible {
    border-bottom: 0;
    border-right: 1px solid #555;
    padding-right: 1.5rem;
    margin-left: 0 0 0 5rem;
  }
  .block-footer .collapsible__content {
    max-height: 100vh;
  }
  .block-footer .collapsible__heading {
    font-size: 2rem;
  }
  .copyright {
    font-size: 1.2rem;
  }
  .footer__footer {
    grid-row: 1 / span 2;
    margin-right: 2rem;
    padding: 0;
    text-align: start;
  }
  .block-footer .collapsible {
    margin: 0 2rem;
  }
  /* TODO: consider refactor for all img 100% */
  .footer__logo {
    width: 100%;
    /* min-width: 15rem; */
  }
}
