<!-- white block -->

<section class="block">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Title Host Cloud</h2>
      <p class="block__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam,
        totam.
      </p>
    </header>
  </div>
</section>

<!-- black block -->

<section class="block block--black block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Title Host Cloud</h2>
      <p class="block__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam,
        totam.
      </p>
    </header>
  </div>
</section>
