<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Collapsible</h2>
    <svg class="icon collapsible__icon icon--primary">
      <!-- fix #chevron -->
      <use xlink:href="images/sprite.svg#line"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list list--tick collapsible__list">
      <li class="list__item">list tick 1</li>
      <li class="list__item">list tick 2</li>
      <li class="list__item">list tick 3</li>
      <li class="list__item">list tick 4</li>
    </ul>
  </div>
</div>
<!-- add script last -->
<script src="/js/main.js"></script>
