<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Collapsible</h2>
    <span class="icon-container"
      ><svg
        class="icon collapsible__icon icon--small icon--white"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 
              86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
        /></svg
    ></span>
  </header>
  <div class="collapsible__content">
    <ul class="list list--tick collapsible__list">
      <li class="list__item">list tick 1</li>
      <li class="list__item">list tick 2</li>
      <li class="list__item">list tick 3</li>
      <li class="list__item">list tick 4</li>
    </ul>
  </div>
</div>
<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Collapsible</h2>
    <span class="icon-container"
      ><svg
        class="icon collapsible__icon icon--small icon--white"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 
              86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
        /></svg
    ></span>
  </header>
  <div class="collapsible__content">
    <ul class="list list--tick collapsible__list">
      <li class="list__item">list tick 1</li>
      <li class="list__item">list tick 2</li>
      <li class="list__item">list tick 3</li>
      <li class="list__item">list tick 4</li>
    </ul>
  </div>
</div>

<!-- add script last -->
<script src="/js/main.js"></script>
