<!-- 1 column grid -->

<div class="grid">
  <div class="grid2" style="height: 100px; background-color: gold"></div>
  <div class="grid1" style="height: 100px; background-color: aqua"></div>
</div>

<!-- 2 column grid -->

<div class="grid grid--1x2">
  <div class="grid1" style="height: 100px; background-color: aqua"></div>
  <div class="grid2" style="height: 100px; background-color: yellow"></div>
</div>

<!-- 3 column grid -->
<div class="grid grid--1x3">
  <div class="grid1" style="height: 100px; background-color: blue"></div>
  <div class="grid2" style="height: 100px; background-color: yellowgreen"></div>
  <div class="grid3" style="height: 100px; background-color: green"></div>
</div>
