<div class="block block--black block--skewed-left hero">
  <div class="grid grid--1x2 container">
    <!-- grid1 -->
    <div class="block__header hero__content">
      <h1 class="block__heading hero__heading">Cloud Hosting For Pros</h1>
      <p class="hero__text">Lorem ipsum dolor sit amet consectetur.</p>
      <a href="" class="button button--accent button--stretch hero__button"
        >Click here</a
      >
    </div>
    <!-- grid2 -->
    <span><img class="hero__image" src="/images/banner.png" alt="" /></span>
  </div>
</div>
