<section class="block block--black block--skewed-left hero">
  <div class="grid grid--1x2 container">
    <!-- hero content -->
    <div class="block__header hero__content">
      <h1 class="block__heading hero__heading">Cloud Hosting For Pros</h1>
      <p class="hero__text">Lorem ipsum dolor sit amet consectetur.</p>
      <a href="" class="button button--accent button--stretch hero__button"
        >Click here</a
      >
    </div>
    <!-- hero image(optimzied for retina) -->
    <picture>
      <source
        type="image/webp"
        srcset="images/banner@1x.webp 1x, images/banner@2x.webp 2x"
      />
      <img class="hero__image" src="images/banner.webp" alt="" />
    </picture>
  </div>
</section>
