<div class="plan">
  <div class="card card--popular card--primary">
    <header class="card__header">
      <h3 class="header__title">business</h3>
      <span class="header__price">$24</span>
      <span class="header__payment-cycle">/month</span>
      <span class="header__badge badge badge--secondary badge--small">
        20% Off
      </span>
      <span class="header__description"> optimal cloud experience </span>
    </header>

    <div class="card__body">
      <ul class="body__list list--tick">
        <li class="list__item">unlimited websites</li>
        <li class="list__item">unlimited bandwidth</li>
        <li class="list__item">100 gb ssd storage</li>
        <li class="list__item">3 gb ram</li>
        <li class="list__item">2 cpu cores</li>
      </ul>
      <button class="body__button button button--outline button--block">
        buy now
      </button>
    </div>
  </div>
</div>
