<!-- we gonna put everything on one card component called "testimonial"-->
<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="/images/testimonial.jpg" alt="man smiling" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>

    <qblock class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque
        dolor dignissimos illum sunt fugiat officia aliquid dolore, eveniet
        porro! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
        fugiat nobis minima ad quaerat deserunt quo? A praesentium autem eos
        expedita. Nostrum reprehenderit sapiente animi!
      </p>
      <div class="quote__author">
        <!-- media -->
        <div class="media">
          <div class="media__image quote__icon">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body quote__body">
            <h3 class="media__title author__name">Mosh</h3>
            <p class="media__text quote__company">ABC LIMITED</p>
          </div>
        </div>
      </div>
    </qblock>
  </div>
</div>
